@media screen and (min-width: 740px) {
  #menu {
    display: none;
  }
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .navigation.open {
    display: flex;
  }
  .album {
    grid-template-columns: 1fr 1fr 1fr;
  }
  h1 {
    font-size: 2rem;
  }
}